<div class="p-5">
  <!-- Form to add user -->
  <h1>IIDE TASK</h1>
  <div style="margin-bottom: 50px;">
    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <label for="exampleFormControlInput1" class="form-label"
        >First Name:</label
      >
      <input
        type="text"
        name="firstname"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter your First Name"
        formControlName="firstname"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >Last Name:</label
      >
      <input
        type="text"
        name="lastname"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter your Last name"
        formControlName="lastname"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        formControlName="email"
      />
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>

  <!-- Table to show user data -->
  <div *ngIf="users.length>0">
    <h1 class="mb-3">Users Table</h1>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Option To delete</th>
      </tr>
      <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td><input type="button" value="Delete" class="btn btn-outline-danger" (click)="deleteUser(i)" /></td>
      </tr>
    </tbody>
    </table>
  </div>

  <div *ngIf="users.length === 0">
    <p>Please start adding users.</p>
  </div>
</div>
